a {
  color: #6123d4;
  text-decoration: none;
}

a:hover {
  color: #4f15b9;
  text-decoration: none;
}

#header {
  z-index: 997;
  transition: all 0.5s;
  background: rgba(18, 18, 19, 0.8);
}
/* NAVBAR SECTION */
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

/* HERO SECTION */
#hero {
  width: 100%;
  height: 100vh;
  background: url('../assets/img/hero-bg.jpg') top right;
  background-size: cover;
  position: relative;
}

#hero::before {
  content: '';
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#hero .btn-scroll i {
  font-size: 48px;
}

#hero .btn-scroll:hover {
  color: rgb(255, 255, 255);
}
/*SIRVE PARA QUE EL FONDO NO SE MUEVE AL SCROLLEAR*/
/* @media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
} */
@media (max-width: 575px) {
  #hero h1 {
    font-size: 40px;
  }
  #hero h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* ABOUT ME SECTION */

#about {
  background-color: #0b0b0b;
}
#about .about-container {
  padding-left: 3%;
  padding-right: 3%;
}
#about h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#about p {
  color: rgb(95, 95, 95);
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.me-social {
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 200%;
}

.me-social:hover {
  color: #8a8a8a;
}

/*MY SKILLS SECTION*/
#skills {
  background-color: #0b0b0b;
}
#skills .skills-container {
  padding: 8%;
}
#skills h3 {
  color: rgb(95, 95, 95);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* RECENT WORKS */

#works {
  background-color: #0b0b0b;
}

#works .card-text {
  background-color: #0b0b0b00;
}

#works a {
  text-decoration: none;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000a6;
}
.card-project {
  overflow: hidden;
}
#works .card-project:hover .imagen {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
#works .card-project:hover .overlay {
  opacity: 1;
}

#works .icon {
  color: white;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* CONTACT ME SECTION */

#contact {
  background-color: #0b0b0b;
}
#contact .card {
  padding: 5rem;
  top: -30px;
}
.me-contact {
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 200%;
}

#contact p {
  color: rgb(95, 95, 95);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* FOOTER */
#footer {
  /* background: url('../img/footer-bg.jpg') top center no-repeat; */
  background-color: #0b0b0b;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 80px 0;
  position: relative;
}
#footer::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #0b0b0b;
}
#footer .container {
  position: relative;
}
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #000000;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}
