a {
  color: #6123d4;
  text-decoration: none;
}

a:hover {
  color: #4f15b9;
  text-decoration: none;
}

#header {
  z-index: 997;
  transition: all 0.5s;
  background: rgba(18, 18, 19, 0.8);
}
/* NAVBAR SECTION */
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

/* HERO SECTION */
#hero {
  width: 100%;
  height: 100vh;
  background: url('../assets/img/hero-bg.jpg') top right;
  background-size: cover;
  position: relative;
}

#hero::before {
  content: '';
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#hero .btn-scroll i {
  font-size: 48px;
}

#hero .btn-scroll:hover {
  color: rgb(255, 255, 255);
}
/*SIRVE PARA QUE EL FONDO NO SE MUEVE AL SCROLLEAR*/
/* @media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
} */
@media (max-width: 575px) {
  #hero h1 {
    font-size: 40px;
  }
  #hero h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* ABOUT ME SECTION */

#about {
  background-color: #0b0b0b;
}
#about .about-container {
  padding-left: 3%;
  padding-right: 3%;
}
#about h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#about p {
  color: rgb(95, 95, 95);
  margin-bottom: 50px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.me-social {
  color: white;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 200%;
}

.me-social:hover {
  color: #8a8a8a;
}

/*MY SKILLS SECTION*/
#skills {
  background-color: #0b0b0b;
}
#skills .skills-container {
  padding: 8%;
}
#skills h3 {
  color: rgb(95, 95, 95);

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
